* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Light.ttf") format("woff2");
}

@font-face {
    font-family: "Brands";
    src: url("/fonts/Awesome/fa-brands-400.ttf")
}

@font-face {
    font-family: "Solid";
    src: url("/fonts/Awesome/fa-solid-900.ttf")
}

/* MAIN PAGE  */

img {
    width: 230px;
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

/* HEADER */

.header-container {
    padding: 0;
    height: 66px;
    padding-left: 25px;
    background-color: #ff7f00;
}

.header-logo {
    width: 123.5px;
    height: 60px;
    margin: 3.5px 19.8px -1px -7px;
    object-fit: contain;
}

/* NAV  */

.main-menu {
    height: 100%;
}
.menu-toggle{
    font-size: 36px;
}
.main-menu a {
    cursor: pointer;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    /* font-size: 0.593rem; */
    text-decoration: none;
    color: #ffffff;
}

.menu-toggle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 33px;
    height: 100%;
    align-items: stretch;
}

header ul li {
    justify-content: center;
    display: inline-flex;
}

header ul li a:hover {
    color: #040a2c;
    /* border-bottom: 1px solid #040a2c; */
}

/* GALLERY */

.img-gallery {
    background-color: #e3e3e3;
    padding: 15px 25px;
}

.img {
    width: 176.5px;
    height: 139px;
    margin: 0 10.5px 11px 0;
    object-fit: contain;
    cursor: pointer;
    border-radius: 18%;
}
/* SAVED  */
.img-saved {
    width: 80px;
    height: 80px;
    margin: 0 10.5px 11px 0;
    object-fit: contain;
    cursor: pointer;
    border-radius: 18%;
}
.saved-memes{
    padding: 10px 14px 13px 20px;

}
/* ABOUT */

.about {
    height: 160px;
}

.about-img {
    width: 80px;
    height: 80px;
    margin: 0 19px 0 0;
    background-color: #959595;
    border-radius: 50%;
    object-fit: fill;
}

.about h4 {
    margin-bottom: 8px;
}

.about div {
    width: 230px;
}

.socials a {
    font-family: Brands;
    font-size: 24px;
    color: #ff7f00;
    text-decoration: none;
}

.socials .linked::before {
    content: '\f08c';
}

.socials .git::before {
    content: '\f092';
}

.socials .face::before {
    content: '\f082';
}

/* CANVAS  */

#canvas {
    height: 150px;
    width: 150px;
}

.edit {
    height: 400px;
    flex-direction: column;
    padding: 13px 67.5px 30px 45px;
    background-color: #e3e3e3;
}

/* EDITOR */

.new-line {
    width: 111px;
    height: 17px;
    margin: 0 0 1px;
    border-radius: 6px;
    background-color: #fff;
}

.edit-btns {
    gap: 4px;
}

.edit-tools {
    width: 20px;
    height: 20px;
    margin: 4.5px -2px 2px 8.5px;
    padding: 0.5px 2.2px 0.9px 2.2px;
    border-radius: 6px;
    background-color: #fff;
    object-fit: contain;
    cursor: pointer;
}

.font-select {
    width: 109px;
    height: 30px;
    margin: 5px 9px 0 0;
    border-radius: 6px;
    background-color: #fff;
    font-family: Montserrat;
    color: #000;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
}

.save-download-btn a {
    text-decoration: none;
    font: Montserrat;
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-color: #ff7f00;
}

.save-download-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    margin-top: 35px;
}

/* FOOOTER */

.main-footer {
    height: 103.5px;
    background-color: #ff7f00;
}

.footer-logo {
    width: 66.5px;
    height: 11px;
    margin: 0 45.4px 4.4px 45.1px;
    object-fit: contain;
}

.rights {
    margin: 4.4px 0 0;
    font-size: 9.5px;
    font-weight: 100;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #fff;
}

/* SEARCH  */

.search {
    padding-left: 25px;
    height: 3rem;
    border-style: none;
}

.search input {
    border: none;
    font-size: small;
    width: 105px;
    background-repeat: no-repeat;
    padding-right: 15px;
    border-bottom: 1px solid #040a2c;
    background-image: url('../images/ICONS/search-icon.png');
    background-position: 91px 5px;
    background-size: 10px;
}

.search input:focus-visible {
    outline: none;
}

/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.clean-list {
    list-style-type: none;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}

/* DESKTOP */

@media only screen and (min-width: 820px) {
    .edit {
        padding: 11px 229.5px 10.5px 291.5px;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }
    #canvas {
        width: 270px;
        height: 270px;
    }
    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 33px;
        height: 100%;
        align-items: stretch;
        order: 1;
    }
    .edit-tools {
        margin: 4.5px -2px 2px 8.5px;
        padding: 0.5px 2.2px 0.9px 2.2px;
    }
    .menu-toggle {
        visibility: hidden;
    }
    .about {
        height: 230px;
    }
    .about-img {
        width: 140px;
        height: 140px;
        margin: 0 40px 0 0;
        background-color: #959595;
        border-radius: 50%;
        object-fit: fill;
    }
}

/* MOBILE  */

@media (max-width: 820px) {
    .main-menu {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        min-width: 80px;
        background: #ff7f00;
        box-shadow: 0px 0px 0px transparent;
        justify-content: flex-start;
        gap: 6px;
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .main-menu {
        transform: translateX(0);
        box-shadow: -5px -8px 10px #ff7f0080;
    }
    .main-menu a {
        display: block;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid blac
    }
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* display: none; */
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }
    body.menu-open .screen {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
    .download-btn {
        margin-top: 35px;
    }
    .download-btn a {
        font-size: 1rem;
    }
}